resources:
  - ../../cert-manager

patchesStrategicMerge:
  - |-
    apiVersion: admissionregistration.k8s.io/v1
    kind: ValidatingWebhookConfiguration
    metadata:
      name: mgc-cert-manager-webhook
    $patch: delete
  - |-
    apiVersion: admissionregistration.k8s.io/v1
    kind: MutatingWebhookConfiguration
    metadata:
      name: mgc-cert-manager-webhook
      namespace: cert-manager
    $patch: delete